<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тест</title>
</head>
<body>
<h1>Тест из 10 вопросов</h1>
<form th:action="@{/submit-test}" method="post">
    <div th:each="i : ${#numbers.sequence(0, 9)}">
        <p th:text="${question.get(i).getText()}"></p>
        <label><input type="radio" th:name="|question${i}|" value="0">Совершенно не согласен</label>
        <label><input type="radio" th:name="|question${i}|" value="0">Не совсем согласен</label>
        <label><input type="radio" th:name="|question${i}|" value="1">Нейтрально</label>
        <label><input type="radio" th:name="|question${i}|" value="2"> Согласен</label>
        <label><input type="radio" th:name="|question${i}|" value="2"> Совершенно согласен</label>
    </div>
    <button type="submit">Подсчитать результаты</button>
</form>
</body>
</html>